* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 90px 0;
}

.first-screen {
    height: 100vh;
    clip-path: ellipse(100% 60% at 50% 35%);
    display: flex;
    align-items: center;
    position: relative;
}
.section-bg {
    background: url(../img/firstscreen-bg.svg);
    color: #fff;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 80px;
}

.btn {
    padding: 13px 20px;
    color: #fff;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.btn-bg {
    background: #c74838;
}
.btn-outline {
    border-color: #c74838;
}
.btn:hover {
    background: #e63a23;
}

.chevron {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translate(-50%, 0);
    animation: chevron-animation infinite 2s ease-in-out;
}
.chevron:hover {
    animation-play-state: paused;
}
.chevron img {
    transition: all 0.5s ease-in-out;
}
.chevron:hover img {
    transform: translateY(25px);
}
@keyframes chevron-animation {
    0%,
    100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
}

h2 {
    font-family: Lora;
    font-size: 48px;
    margin: 0 0 60px;
}
p {
    font-size: 20px;
    line-height: 2;
    font-family: Montserrat;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-wrapper {
    width: 350px;
    height: 290px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.img-wrapper img {
    object-fit: cover;
}
.img-wrapper:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
} 

.d-flex {
    display: flex;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}
.pr-4 {
    padding-right: 4rem;
}
form {
    display: flex;
    flex-direction: column;
}
input,
textarea {
  padding: 15px;
  font-size: 15px;
  margin-bottom: 15px;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

footer {
    padding: 50px 0;
    text-align: center;
}